body {
	background-color:white;
}

h2 {
	color:#fff;
}

#separator{
	height: 100px;	
}



.GitHubLink:hover{
	color:dark;	
}

.div1 {
	width:260px;
	height:240px;
	position:relative;
	margin:200px auto;
}

.item1{
	background-color: #d24343;
}

.item2{
	background-color: #36a783;
}

.item3{
	background-color: #d9ca2b;
}
