body {
	background-color:white;
}

.container-custom{
	padding: 5%;
}

h2 {
	color:#fff;
}

#separator{
	height: 100px;	
}



.GitHubLink:hover{
	color:dark;	
}

.div1 {
	width:300px;
	height:240px;
	position:relative;
	margin:200px auto;
}

.item1{
	background-color: #d24343;
}

.item2{
	background-color: #36a783;
}

.item3{
	background-color: #2cbdd9;
}

.item4{
	background-color: #d98b2c;
}

.item5{
	background-color: #2cd9b1;
}

.item6{
	background-color: #646dc2;
}

.thumbnail:hover{
	transition:1s;
	opacity: 0.5;
}

.container-padding{
	padding-top: 10%;
}