.circle{
 	color: white;	
 	width: 40px;
 	height: 40px;
	border-radius: 20px;
	background:#fff;
	position:absolute;
  	animation: circleAnimation 3s infinite;
 	-webkit-animation: circleAnimation 3s infinite;
 	margin: 75px;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes circleAnimation {
	
	25% {
		-webkit-transform: translateY(40px) translateX(40px) scale(0.5);
	}
	
	25.1% {
		-webkit-transform: translateY(40px) translateX(40px) scale(0.5);
	}
	
	50% {
		-webkit-transform: translateY(0px) translateX(80px) scale(1);
	}
	
	75% {
		-webkit-transform: translateY(-40px) translateX(40px) scale(0.5);
	}
	
	100% {
		-webkit-transform: translateX(0px) translateY(0px) scale(1);
	}
}

/* Standard syntax */
@keyframes circleAnimation {

	25% {
		transform: translateY(40px) translateX(40px)  scale(0.5);
		-webkit-transform: translateY(40px) translateX(40px) scale(0.5);
	}
	
	25.1% {
		transform: translateY(40px) translateX(40px)  scale(0.5);
		-webkit-transform: translateY(40px) translateX(40px) scale(0.5);
	}
	
	50% {
		transform: translateY(0px) translateX(80px) scale(1);
		-webkit-transform: translateY(0px) translateX(80px) scale(1);
	}
	
	75% {
		transform: translateY(-40px) translateX(40px) scale(0.5);
		-webkit-transform: translateY(-40px) translateX(40px) scale(0.5);
	}
	
	100% {
		transform: translateX(0px) translateY(0px) scale(1);
		-webkit-transform: translateX(0px) translateY(0px) scale(1);
	}
}