.circle{
 	color: white;	
 	width: 50px;
 	height: 50px;
	border-radius: 30px;
	background:#fff;
	position:absolute;
  	animation: circleAnimation 6s infinite;
 	-webkit-animation: circleAnimation 6s infinite;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes circleAnimation {
	
	25% {
		-webkit-transform: translateY(120px) translateX(120px) scale(0.5);
	}
	
	25.1% {
		-webkit-transform: translateY(120px) translateX(120px) scale(0.5);
	}
	
	50% {
		-webkit-transform: translateX(240px) translateY(0px) scale(1);
	}
	
	75% {
		-webkit-transform: translateX(120px) translateY(120px) scale(0.5);
	}
	
	100% {
		-webkit-transform: translateX(0px) translateY(0px) scale(1);
	}

}

/* Standard syntax */
@keyframes circleAnimation {

	
	25% {
		transform: translateY(120px) translateX(120px)  scale(0.5);
		-webkit-transform: translateY(120px) translateX(120px) scale(0.5);
	}
	
	25.1% {
		transform: translateY(120px) translateX(120px)  scale(0.5);
		-webkit-transform: translateY(120px) translateX(120px) scale(0.5);
	}
	
	50% {
		transform: translateX(240px) translateY(0px) scale(1);
		-webkit-transform: translateX(240px) translateY(0px) scale(1);
	}
	
	75% {
		transform: translateX(120px) translateY(120px) scale(0.5);
		-webkit-transform: translateX(120px) translateY(120px) scale(0.5);
	}
	
	100% {
		transform: translateX(0px) translateY(0px) scale(1);
		-webkit-transform: translateX(0px) translateY(0px) scale(1);
	}
}